  
    body {
        font-family: Arial, sans-serif;
    }
    
    main {
       margin: 100px;
    }
    
    .cars {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 20px;
    }
    
    .car {
        background: white;
        border: 1px solid gray;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
    
    }
    .car img {
        max-width: 100%;
        height: auto;
    }
    
    .car h2 {
        font-size: 120%;;
        border: 2px solid gray;
    }
    
    .car ul li {
        text-align: left;
        padding-top:7px ;
        list-style-type: disc;
    }
    
    button {
        background-color: rgb(26, 17, 125);
        color: white;
        padding: 3px 10px;
        font-size: 15px;
        border-radius: 4px;
        margin-top: 3px;
    }
    
    button:hover {
        background-color: blue;
    }
    picture{
    margin-right: 150px;
    }
    /* Navbar Styling */
header {
    background-color: rgb(26, 17, 125);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: white;
    color: rgb(26, 17, 125);
    border-radius: 4px;
}
